<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Home.css">
    <link rel="stylesheet" href="/static/NavBar.css">
    <link rel="stylesheet" href="/static/Scrollbar.css">

    <script src="https://kit.fontawesome.com/77e710a2fd.js" crossorigin="anonymous"></script>


    <link rel="icon" href="/static/images/colegio-el-remanso-logo-new-2.png">

    <title>El Remanso</title>
</head>
<header>
    <nav class="NavBar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <a id="nvImg" href="/">
            <img src="\static\images\colegio-el-remanso-logo-new-2.png" height="75px" width="75px">
        </a>
        <ul>
            <li>
                <a class="nvbarLink" href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a class="nvbarLink" href="/404">
                    ¿Quienes somos?
                </a>
            </li>
            <li>
                <a class="nvbarLink" href="/404">
                    Notas
                </a>
            </li>
            <li>
                <a class="nvbarLink" href="/404">
                    Restaurante
                </a>
            </li>
            <li>
                <a class="nvbarLink" href="/404">
                    Asopadres
                </a>
            </li>
            <li>
                <a class="nvbarLink" href="/404">
                    Contáctanos
                </a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <div class="main">
        <img src="/static/images/Captura-de-pantalla-147.png">
        <h1>Colegio Campestre El Remanso</h1>
        <h2>preescolar  – básica – media</h2>
    </div>
    <div class="Info">
        <div class="black">
            <h1>Nuestra Misión</h1>
        <h2>
            Formar personas autocríticas preparadas para transformar su ambiente social enfatizando el desarrollo de su creatividad, la libertad de expresión, el respeto por la diversidad y la conciencia ambiental, todo a través del fortalecimiento de nuestros valores institucionales:

            - La tolerancia
            - La responsabilidad
            - La autonomía
            - El respeto
            - El amor
        </h2>
        </div>

    </div>
</body>
<footer>
    <h3>Remanso Ltda</h3>
    <h3>Cl. 78 Sur #40-230, Sabaneta, Antioquia</h3>
    <h3>(300) 893-8106</h3>
    <h3>elremanso@une.edu.co</h3>
</footer>
</html>